@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "default";
    default: true;
    prefersdark: false;
    color-scheme: light;
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(63% 0.237 25.331);
    --color-primary-content: oklch(97% 0.013 17.38);
    --color-secondary: oklch(62% 0.265 303.9);
    --color-secondary-content: oklch(97% 0.014 308.299);
    --color-accent: oklch(66% 0.295 322.15);
    --color-accent-content: oklch(97% 0.017 320.058);
    --color-neutral: oklch(20% 0.042 265.755);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(77% 0.152 181.912);
    --color-success-content: oklch(27% 0.046 192.524);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

#landingLogo {
    position: relative;
}

.scene, .a3d { display: grid; }

.scene {
    overflow: hidden;
    perspective: 40em;
    perspective-origin: center bottom; /* perspectiva desde abajo */
    mask: linear-gradient(90deg, #0000, red 20% 80%, #0000);
}

.a3d {
    place-self: end center; /* alinear abajo en vez de center */
    transform-style: preserve-3d;
    animation: ry 32s linear infinite;
}

@keyframes ry { to { rotate: y 1turn; } }

.landing-card {
    --w: 17.5em;
    --ba: calc(1turn / var(--n)); /* Si sale un error aquí es cosa del IDE, ignorarlo, el código es correcto */
    grid-area: 1 / 1;
    width: var(--w);
    aspect-ratio: 7 / 10;
    object-fit: cover;
    border-radius: 1.5em;
    backface-visibility: hidden;
    transform:
        rotatey(calc(var(--i) * var(--ba))) /* Si sale un error aquí es cosa del IDE, ignorarlo, el código es correcto */
        translatez(calc(-1 * (.5 * var(--w) + .5em) / tan(.5 * var(--ba))));
}

@media (prefers-reduced-motion: reduce) {
    .a3d { animation-duration: 128s; }
}









@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
